# IDE-specific files
.vscode/
.idea/
*.iml

# Java-related files
*.class
*.jar
*.war
*.ear
.classpath
target/

# Liquibase logs
liquibase.log

# Temporary files
state.ser

# VS Code settings
launch.json

# Test-related files and folders
test/
data/
