<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Hotel</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345</property>

        <!-- Диалект для PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическое создание/обновление таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Логирование SQL-запросов -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Указываем классы сущностей -->
        <mapping class="com.test.model.Room"/>
        <mapping class="com.test.model.Stay"/>
        <mapping class="com.test.model.Guest"/>
        <mapping class="com.test.model.Service"/>
    </session-factory>
</hibernate-configuration>